.nav__links {
  display: flex;
  gap: 10px;
  padding-block: 30px;
}
.nav__links li > a {
  color: #000000;
  text-decoration: none;
}

.selected {
  font-weight: 600;
}
@media screen and (max-width: 800px) {
  .nav__links {
    display: none;
  }
}
