.hero {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  flex: 1;
}
.hero-image {
  flex: 1;
}
.leaf-icon {
  font-size: 35px;
}
.hero-title h1 {
  font-size: 80px;
}
.hero-title p {
  font-size: 24px;
  margin-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }
  .hero-title {
    margin-block: 20px;
    text-align: center;
    flex: 0;
  }
  .hero-title h1 {
    font-size: 32px;
  }
  .hero-title p {
    font-size: 16px;
    margin-block: 10px;
  }
  .leaf-icon {
    font-size: 16px;
  }
}
